<h1><%= @user.name %></h1>

<% if current_user?(@user) %>
  <p><%= link_to "New wantlist item", new_item_path %></p>
<% else %>
  <p><%= link_to "Surprise wantlist item", surprise_path %></p>
<% end %>

<%= render "wantlist" %>

<% if current_user?(@user) %>
  <%= render "claimlist" %>
<% end %>
