<h1>New Wantlist Item</h1>

<%= form_for @item do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div class="form">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "field" %>
      <div class="clear"></div>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :class => "field" %>
      <div class="clear"></div>
    </div>
  </div>
  <div class="actions"><%= f.submit "Create", :class => "submit" %></div>
<% end %>
