<div id="top">
  <div id="login">
    <div class="centre">
      <% if current_user %>
        <p id="user">
          Logged in as <%= current_user.name %>
        </p>
      <% else %>
        <%= form_for(:session, :url => sessions_path) do |f| %>
          <%= f.text_field :username, :placeholder => "Username...", :class => "field" %>
          <%= f.password_field :password, :placeholder => "Password...", :class => "field" %>
          <%= f.submit "Login", :class => "submit" %>
        <% end %>
      <% end %>
    </div><!--end centre-->
  </div><!--end login-->
</div><!--end top-->

<div id="logo">
  <%= link_to image_tag("logo.png"), root_path %>
</div><!--end logo-->

<div class="divider"></div>
