<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] %>
    <div id="notice"><%= notice %></div>
  <% end %>
  <% if flash[:alert] %>
    <div id="alert"><%= alert %></div>
  <% end %>
  <% if flash[:error] %>
    <div id="error"><%= error %></div>
  <% end %>

  <%= yield %>

  <%= render "layouts/footer" %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
