<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div id="top">
      <div id="login">
        <div class="centre">
          <% if current_user %>
            <p id="user">
              Logged in as <%= current_user.name %>
            </p>
          <% else %>
            <%= form_for(:session, :url => sessions_path) do |f| %>
              <%= f.text_field :username, :placeholder => "Username...", :class => "field" %>
              <%= f.password_field :password, :placeholder => "Password...", :class => "field" %>
              <%= f.submit "Login", :class => "submit" %>
            <% end %>
          <% end %>
        </div><!--end centre-->
      </div><!--end login-->
    </div><!--end top-->

    <div id="logo">
      <a href="#"><img src="http://wolfsshadow.comoj.com/stuff/logo.png" /></a>
    </div><!--end logo-->

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>">
        <%= value %>
      </div><!--end flash <%= key %>-->
    <% end %>

    <div class="divider"></div>

    <div id="content" class="centre">      

      <%= yield %>

      <%= debug(params) if Rails.env.development? %>
    </div><!--end content/centre-->

    <div id="push"></div>
  
  </div><!--end wrap-->
  
  <%= render "layouts/footer" %>

</body>
</html>
